td {
    padding: 5px 10px;
    background: rgb(248, 251, 252);
}

th {
    padding: 5px 10px;
    background: rgb(222, 237, 255);
}

table {
    width: 50%;
    text-align: center;
}

.form-control{
    border: 1px solid rgb(206, 205, 205);
    padding: 5px 0;
    border-radius: 4px;
    box-shadow: 1px 2px 1px #0000004c;
    transition: 0.4s;
}

.form-control:focus{
    outline: 3px solid rgba(179, 203, 251, 0.609);
    box-shadow: 4px 5px 4px #0000004c;
    transform: translate(-1px, -1px);
}

.form-control option{
    padding: 10px;
}